.cocktail-list {
  min-height: calc(100vh - 230px);
  height: 100%;
  margin-top: 230px;
  display: flex;
  flex-direction: row;

  &_image {
    padding: 0 15px 15px 15px ;
    text-align: center;

    &-image {
      img {
        height: 400px;
        width: auto;
        border-radius: 6px;
      }

      p {
        margin: 8px 0 15px 0;
      }

    }
  }

  &_details {
    padding: 0 15px 15px 15px;
  }
}

@media screen and (max-width: 992px) {
  .cocktail-list {
    &_image {
      &-image {
        img {
          height: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cocktail-list {
    &_image {
      &-image {
        img {
          height: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .cocktail-list {
    flex-direction: column;
    margin-top: 130px;

    &_image {
      &-image {
        img {
          height: 300px;
        }
      }
    }

    &_details {
      margin-top: 45px;
    }
  }
}