.cocktail-list {
  min-height: calc(100vh - 170px);
  margin-top: 170px;
  display: flex;
  flex-direction: row;

  &_image {
    padding: 0 15px 15px 15px ;
    text-align: center;

    &-image {
      img {
        height: 400px;
        width: auto;
        border-radius: 6px;
      }

      p {
        margin: 8px 0 15px 0;
      }

    }
  }

  &_details {
    padding: 0 15px 15px 15px;
  }
}

@media screen and (max-width: 768px) {
  .cocktail-list {
    flex-direction: column;

    &_image {
      height: 40vh;
    }

    &_details {
      height: 40vh;
    }
  }
}