.cocktail-search-results {
  @include site-wrapper;

  img {
    height: 200px;
    border-radius: 6px;
      box-shadow: $boxShadow;
  }

  &_result {
    margin-bottom: 30px;

    p {
      margin-top: 15px;
    }

    a {
      text-decoration: none;
    }

    img {
      transition: all 0.2s ease;
    }
    
    &:hover {
      cursor: pointer;

      img {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cocktail-search-results {
    img {
      height: 300px;
    }
  }
}