.footer {
  background: linear-gradient(90deg, $colorPrimary 0%, $colorQuarternary 100%);
  padding: 15px;

  p {
    margin-bottom: 0;
    color: #000;

    a {
      color: #000;
      text-decoration: none;
    }
  }
}