.header {
  height: 100px;
  width: 100%;
  // background: linear-gradient(90deg, $colorQuarternary 0%, $colorPrimary 100%);
  background: $colorPrimary;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;

  padding: 10px 30px;

  .fa-cocktail {
    font-size: 4.5rem;
    margin-right: 15px;
    color: $iconColor;
  }

  h1 {
    font-family: $fontFamilySansSerif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: $fontWeightRegular;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 576px) {
  .header {
    height: auto;

    .fa-cocktail {
      font-size: 2.5rem;
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: auto;
    }
  }
}