.btn-primary {
  background-color: transparent;
  border-color: $colorPrimary;
  color: $colorPrimary;
  padding: 8px 30px;

  &:hover {
    background-color: $colorPrimary;
    border-color: $colorPrimary;
  }
}

.btn-secondary {
  background-color: transparent;
  border-color: $colorSecondary;
  color: $colorSecondary;

  &:hover {
    background-color: $colorSecondary;
    border-color: $colorSecondary;
    color: #fff;
  }
}

.show>.btn-secondary.dropdown-toggle {
    background-color: $colorSecondary;
    border-color: $colorSecondary;
    color: #fff;
  }
