// Colors
$colorPrimary:  #1af06f;
$colorSecondary: #fa9848;
$colorTertiary: #286097;
$colorQuarternary: #f99398;

// $colorPrimary:  #11cbd7;
// $colorSecondary: #9feed1;
// $colorTertiary: #fff6a2;
// $colorQuarternary: #f60c86;

// Text Colours
$textPrimary: #212121;
$textSecondary: #757575;

$lineColor: #bdbdbd;
$iconColor: $colorTertiary;

// Fonts
$fontFamilySerif: Trattatello, fantasy;
$fontFamilySansSerif: Marker Felt, fantasy;
// $fontFamilySerif: 'caslon';
// $fontFamilySansSerif: "myriadpro", Arial;
$fontWeightBold: 700;
$fontWeightRegular: 500;
$fontWeightLight: 300;