// Colors
$colorPrimary:  #11cbd7;
$colorSecondary: #9feed1;
$colorTertiary: #fff6a2;
$colorQuarternary: #f60c86;

// Text Colours
$textPrimary: #212121;
$textSecondary: #757575;

$lineColor: #bdbdbd;
$iconColor: #000000;

// Fonts
$fontFamilySansSerif: "myriadpro", Arial;
$fontWeightBold: 700;
$fontWeightRegular: 500;
$fontWeightLight: 300;