@font-face {
    font-family: 'trattatello';
    src: url('../fonts/trattatello/Trattatello.ttf') format('truetype'),
}

@font-face {
    font-family: 'markerfelt';
    src: url('../fonts/marker-felt/marker-felt.ttf') format('truetype'),
}

