@font-face {
    font-family: 'myriadpro';
    src: url('../fonts/myriad-pro-cufonfonts-webfont/MYRIADPRO-REGULAR.woff') format('woff'),
}

@font-face {
    font-family: 'caslon';
    src: url('../fonts/itc-caslon-224-std-cufonfonts/ITC Caslon 224 Std Black.ttf') format('truetype'),
}

