h1,
h2,
h3,
h6 {
  font-family: $fontFamilySerif;
  margin-bottom: 0;
  color: $textPrimary;
}

h4 {
  font-family: $fontFamilySansSerif;
}

p {
  font-family: $fontFamilySerif;
  margin-bottom: 0;
  color: $textPrimary;
}